:root {
  --background-color: #f7f7f5;
  --light-color: #f7f7f5;
  --dark-color: #002855;
  --text-color: #000;
  --heading-color: #002855;
  --link-color: #0071ce;
  --link-hover-color: #004f91;
  --mid-blue: #0071ce;
  --yellow: #ffd100;
  --grey: #636466;
  --body-font-family: "Effra", tahoma, sans-serif;
  --heading-font-family: "Effra", tahoma, sans-serif;
  --body-font-size-m: 16px;
  --body-font-size-s: 14px;
  --body-font-size-xs: 12px;
  --heading-font-size-xxl: 36px;
  --heading-font-size-xl: 28px;
  --heading-font-size-l: 24px;
  --heading-font-size-m: 20px;
  --heading-font-size-s: 18px;
  --heading-font-size-xs: 16px;
  --nav-height: 112px;
  --content-max-width: 1200px;
  --section-padding: 64px;
}

@media (width >= 900px) {
  :root {
    --heading-font-size-xxl: 48px;
    --heading-font-size-xl: 36px;
    --heading-font-size-l: 28px;
    --heading-font-size-m: 20px;
    --heading-font-size-s: 18px;
    --heading-font-size-xs: 16px;
  }
}
